<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/StructuralPatterns4_Decorator/src/org/developer/pattern/decorator/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.developer.pattern.decorator.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="StructuralPatterns4_Decorator"/>
</launchConfiguration>
